<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rules</key>
	<dict>
		<!-- Exclude datafiles, python and scripts -->
		<key>^MacOS/2.70</key>
		<false/>
		<key>^Resources/</key>
		<true/>
	</dict>
</dict>
</plist>
