<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Extension must be codesigned even locally. -->
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <!-- XCode adds this by default to a QuickLook extension. -->
    <key>com.apple.security.files.user-selected.read-only</key>
    <true/>
</dict>
</plist>
