Checks:  >
  -*,
  readability-*,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-avoid-const-params-in-decls,
  -readability-simplify-boolean-expr,
  -readability-make-member-function-const,

  -readability-misleading-indentation,

  -readability-inconsistent-declaration-parameter-name,
  -readability-redundant-preprocessor,
  -readability-redundant-member-init,
  -readability-const-return-type,
  -readability-static-accessed-through-instance,
  -readability-redundant-declaration,
  -readability-qualified-auto,
  -readability-use-anyofallof,

  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-unhandled-self-assignment,
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,

  -bugprone-sizeof-expression,
  -bugprone-integer-division,
  -bugprone-incorrect-roundings,
  -bugprone-copy-constructor-init,

WarningsAsErrors: '*'
