# generic files to ignore
.*

# python temp paths
__pycache__/
*.py[cod]

# editors
*~
*.swp
*.swo
*#

# QtCreator
CMakeLists.txt.user

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# commonly used paths in blender
/blender.bin
/user-config.py

# local patches
/*.patch
/*.diff
