[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = git://git.blender.org/blender-addons.git
	branch = master
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = git@github.com:blender/blender-addons-contrib.git
	branch = master
	ignore = all
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = git@github.com:blender/blender-translations.git
	branch = master
	ignore = all
[submodule "source/tools"]
	path = source/tools
	url = git@github.com:blender/blender-dev-tools.git
	branch = master
	ignore = all
