<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>blenderplayer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIconFile</key>
	<string>blender player icon.icns</string>
	<key>CFBundleName</key>
	<string>BlenderPlayer</string>
	<key>CFBundleIdentifier</key>
	<string>org.blenderfoundation.blenderplayer</string>
	<key>CFBundleVersion</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}, Blender Foundation</string>
	<key>CFBundleShortVersionString</key>
	<string>${MACOSX_BUNDLE_SHORT_VERSION_STRING}</string>
	<key>CFBundleGetInfoString</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}, Blender Foundation</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>blender file icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Blender File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BLND</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blend</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
