sphinx==7.4.7

# Sphinx dependencies that are important
Jinja2==3.1.4
Pygments==2.18.0
docutils==0.21.2
snowballstemmer==2.2.0
requests==2.32.3

# Only needed to match the theme used for the official documentation.
# Without this theme, the default theme will be used.
furo==2024.8.6
sphinx-basic-ng==1.0.0b2

# Show a copy button (convenience only).
sphinx-copybutton==0.5.2
