#versionwrap {
	margin: 0;
	display: flex;
	padding-top: 2px;
	padding-left: 0;
	font-size: var(--sidebar-item-font-size);
	justify-content: center;
	flex-wrap: wrap;
}

#versionwrap>ul {
	list-style: none;
}

#versionwrap>li {
	display: flex;
	width: 50%;
}

.version-btn {
	display: inline-block;
	background-color: var(--color-sidebar-background);
	width: 100%;
	text-align: center;
	padding: 3px 10px;
	margin: 0px 5px 4px;
	vertical-align: middle;
	color: var(--color-link);
	border: solid 1px var(--color-sidebar-background-border);
	border-radius: 3px;
	cursor: pointer;
	z-index: 400;
}

.version-btn-open::after {
	color: gray;
}

.version-btn:hover,
.version-btn:focus {
	border-color: #525252;
}

.version-btn-open {
	color: gray;
	border: solid 1px var(--color-sidebar-background-border);
}

.version-btn.wait {
	cursor: wait;
}

.version-btn.disabled {
	cursor: not-allowed;
	color: dimgray;
}

.version-dialog {
	display: none;
	position: absolute;
	bottom: 28px;
	width: 50%;
	margin: 0 5px;
	padding-bottom: 4px;
	border-radius: 3px;
	box-shadow: 0 0 6px #000C;
	z-index: 999;
	max-height: calc(100vh - 30px);
	overflow-x: clip;
	overflow-y: auto;
	cursor: default;
}

.version-title {
	padding: 5px;
	color: var(--color-content-foreground);
	text-align: center;
	font-size: 102%;
	font-weight: 700;
	background-color: var(--color-brand-primary);
	border-bottom: solid 1.5px var(--color-sidebar-background-border);
}

.version-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 4px;
	text-align: center;
	border: solid 1px var(--color-sidebar-background-border);
	border-radius: 0px 0px 3px 3px;
}

.version-list a,
.version-list span,
.version-list li {
	position: relative;
	display: block;
	font-size: 98%;
	line-height: 1.15;
	width: 100%;
	margin: 0;
	padding: 4px 0px;
	color: var(--color-sidebar-link-text);
}

.version-list li {
	background-color: var(--color-sidebar-background);
	color: var(--color-sidebar-link-text);
	padding: 1px;
}

.version-list li:hover,
.version-list li a:focus {
	background-color: var(--color-background-hover);
}

.version-list li.selected {
	background: var(--color-sidebar-item-background--current);
	font-weight: 700;
}
